<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <mediaFramework>
      <mediaExport>
        <uploadExecuters>
          <add name="brightcove_video" accountTemplate="{C657F8EF-4916-447F-9255-483ED2EEC562}" type="Sitecore.Support.MediaFramework.Brightcove.Upload.VideoUploader, Sitecore.Support.69157.441352" patch:instead="*[@type='Sitecore.MediaFramework.Brightcove.Upload.VideoUploader, Sitecore.MediaFramework.Brightcove']">
            <extensions>mp4,m4v,avi,mkv,flv,mov,wmv,mpeg</extensions>
          </add>
        </uploadExecuters>
      </mediaExport>
      <uploadManager defaultProvider="default">
        <providers>
          <add name="default" type="Sitecore.Support.MediaFramework.Upload.UploadProvider, Sitecore.Support.69157.441352" patch:instead="*[@type='Sitecore.MediaFramework.Upload.UploadProvider, Sitecore.MediaFramework']" />
        </providers>
      </uploadManager>
    </mediaFramework>
    <commands>
      <command name="MediaFramework:OpenUploader" type="Sitecore.Support.MediaFramework.Commands.OpenUploader,Sitecore.Support.69157.441352" patch:instead="*[@type='Sitecore.MediaFramework.Commands.OpenUploader,Sitecore.MediaFramework']" />
    </commands>
  </sitecore>
</configuration>